.footer {
  background-color: var(--colorDarken);
  color: var(--white);
  padding: 2rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.footer__social-list {
  padding-top: 1rem;
  gap: 1.5rem;
  display: flex;
}
