.nav-menu__desktop {
  display: none;
}

.light-mode {
  margin-top: 3rem;
}

.menu__desktop__container-links {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.menu__desktop {
  margin-top: 8rem;
}

.menu__desktop__item {
  padding: 2rem 0;
}

.menu__desktop__item i {
  font-size: 2.5rem;
}

.link__home,
.link__services,
.link__education,
.link__projects,
.link__contact {
  position: relative;
}

.link__home::after {
  content: "HOME";
  position: absolute;
  top: -1.8rem;
  left: -2rem;
  height: 1rem;
  transform: translateX(200%);
  transition: transform 300ms ease;
  color: var(--black);
  background-color: var(--white);
  padding: 0 1rem 1.4rem 1rem;
  border-radius: 3rem;
  font-weight: 700;
}
.link__services::after {
  content: "SERVICES";
  position: absolute;
  top: -1.5rem;
  left: -3rem;
  height: 1rem;
  color: #fff;
  transform: translateX(200%);
  transition: transform 300ms ease;
  color: var(--black);
  background-color: var(--white);
  padding: 0 1rem 1.4rem 1rem;
  border-radius: 3rem;
  font-weight: 700;
}
.link__education::after {
  content: "EDUCATION";
  position: absolute;
  top: -1.8rem;
  left: -4.1rem;
  height: 1rem;
  color: #fff;
  transform: translateX(200%);
  transition: transform 300ms ease;
  color: var(--black);
  background-color: var(--white);
  padding: 0 1rem 1.4rem 1rem;
  border-radius: 3rem;
  font-weight: 700;
}
.link__projects::after {
  content: "PROJECTS";
  position: absolute;
  top: -1.8rem;
  left: -3rem;
  height: 1rem;
  color: #fff;
  transform: translateX(200%);
  transition: transform 300ms ease;
  color: var(--black);
  background-color: var(--white);
  padding: 0 1rem 1.4rem 1rem;
  border-radius: 3rem;
  font-weight: 700;
}
.link__contact::after {
  content: "CONTACT";
  position: absolute;
  top: -1.8rem;
  left: -2.8rem;
  height: 1rem;
  color: #fff;
  transform: translateX(200%);
  transition: transform 300ms ease;
  color: var(--black);
  background-color: var(--white);
  padding: 0 1rem 1.4rem 1rem;
  border-radius: 3rem;
  font-weight: 700;
}

.link__home:hover::after,
.link__services:hover::after,
.link__education:hover::after,
.link__projects:hover::after,
.link__contact:hover::after {
  transform: translateX(0%);
  transition: transform 250ms ease;
}

@media (min-width: 1024px) {
  .nav-menu__desktop {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12rem;
    background-color: var(--semiDark);
  }
  .lenguages-changer {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;
  }
  .btn_lenguage {
    width: 4rem;
    height: 2rem;
    border: none;
    background-color: transparent;
  }
  .american_flag {
    height: 2rem;
    width: 4rem;
  }
}
