/*! General Style for the component*/

.scroll__container {
  background-color: var(--scrollBg);
  height: 46rem;
  width: 100%;
  overflow-y: scroll;
  color: var(--white);
  padding: 1.2rem 2rem;
}

.scroll__container::-webkit-scrollbar {
  width: 1rem;
}

.scroll__container::-webkit-scrollbar-track {
  background: var(--scrollBg);
}

.scroll__container::-webkit-scrollbar-thumb {
  background-color: var(--colorMain); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

/*! age, residence, etc... */

.me-info__list {
  padding: 1rem 0 2rem 0;
}

.me-info__element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.6rem 0;
}

.me-info__element p {
  width: 50%;
  margin: 0 auto;
  font-size: 1.2rem;
  background-color: var(--colorMain);
  padding: 0.4rem 0.6rem;
  color: var(--black);
  font-weight: 700;
}

.me-info__element span {
  font-weight: 300;
}

.me__available {
  color: var(--available);
}

/*! Lenguages, Skills */

.skills__info,
.lenguages {
  text-align: left;
  padding: 1rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.skills-info__name,
.lenguages__title {
  text-align: center;
}

.skills__items {
  margin-bottom: 1rem;
}

/*! Extra Skills */

.extra__skills {
  padding: 1rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.ex-skill__parraf {
  display: flex;
  gap: 1rem;
}

/*! Style of the progress bars*/

.progress {
  height: 1.4rem;
  width: 100%;
  border: 0.1rem solid var(--progressBarContent);
  border-radius: 0.5rem;
  background-color: var(--progressBarbg);
}

.progress-bar {
  height: 100%;
  background: var(--progressBarContent);
  display: flex;
  align-items: center;
  transition: width 0.25s;
  border-radius: 0.5rem;
}

.progress-bar-text {
  margin-left: 1rem;
  font-weight: 700;
  color: #fff;
}

/*! MEDIA QUERYS */

@media (min-width: 768px) {
  .me-info__element p {
    width: 40%;
    margin: 0;
  }
  .scroll__container {
    height: 41rem;
  }
  .me-info__element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.6rem 0;
  }
}

@media (min-width: 1024px) {
  .scroll__container {
    background-color: var(--scrollBg);
    height: 52.5rem;
    width: 100%;
    overflow-y: scroll;
    color: var(--white);
    padding: 1.2rem 2rem;
  }
}
