.App {
  min-height: 100vh;
  position: relative;
  display: flex;
}

.side-information__desktop,
.side-information {
  height: 100vh;
  position: fixed;
  z-index: 2;
}

.nav-menu__desktop {
  position: fixed;
  right: 0;
  z-index: 2;
}

.main-layout__position {
  width: 100%;
}

@media (min-width: 1024px) {
  .main-layout__position {
    padding: 0 2rem 0 20rem;
  }
}
